APP_MODE=demo
HOST=127.0.0.1
PORT=8000
MONGODB_URI=mongodb://localhost:27017
MONGODB_DATABASE=hm_recommendation
MONGO_HOST_PORT=27018
DATA_PATH=./data/raw
MIN_SUPPORT=0.0001
MIN_CONFIDENCE=0.3
MIN_LIFT=1.0
MONGO_CACHE_GB=1
SPARK_MASTER=local[4]
SPARK_DRIVER_MEMORY=4g
SPARK_PARTITIONS=64
